@model ProductsViewModel
@foreach (var item in Model.Products)
{
    
    <div class="card border-secondary mb-3" style="max-width: 20rem;">
        <a asp-action="Details" asp-route-id="@item.ProductId"><div class="card-header">@item.Name</div></a>
        <div class="card-body">
            <h4 class="card-title">@item.Description</h4>
        </div>
    </div>
    
}

